<%- include("header") -%>

<h2>This is the about page</h2>

<p>I am a hardworking and committed individual looking forward for learning and challenging job. To obtain a creative and challenging position in an organization that gives me an opportunity for self- improvement and leadership, with my technical, innovative, and logical skills.</p>

<%- include("footer") -%>
